.form {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.inputGroup {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.label {
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--text-secondary);
    margin-left: 0.5rem;
}

.input {
    background: var(--bg-primary);
    border: 2px solid transparent;
    /* No border initially */
    color: var(--text-primary);
    padding: 1rem 1.25rem;
    border-radius: 16px;
    font-size: 1rem;
    font-weight: 600;
    outline: none;
    transition: all 0.2s ease;
    width: 100%;
    font-family: inherit;
}

.input::placeholder {
    color: var(--primary-light);
}

.input:focus {
    background: white;
    border-color: var(--primary);
    box-shadow: 0 4px 12px var(--primary-subtle);
}

.button {
    background: var(--primary);
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 99px;
    font-weight: 800;
    cursor: pointer;
    transition: transform 0.1s;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
    font-family: inherit;
    box-shadow: 0 4px 0px var(--primary-dark);
    /* 3D effect */
    margin-bottom: 4px;
    /* compensate for shadow */
}

.button:active {
    transform: translateY(4px);
    box-shadow: none;
    margin-bottom: 0;
    margin-top: calc(0.5rem + 4px);
}